.login-box {
    width: 100%;
    max-width: 400px; /* Giới hạn chiều rộng */
    background-color: rgba(255, 255, 255, 0.5); /* Màu nền với độ mờ */
    /* backdrop-filter: blur(20px); Hiệu ứng làm mờ */
    border-radius: 16px; /* Bo góc */
    padding: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    transform: scale(1);
    transition: transform 0.3s ease;
  }
  
  .login-box:hover {
    transform: scale(1.02); /* Phóng to nhẹ khi hover */
  }