@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

body {
  font-family: 'Mulish', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Success Toast */
.toast-success {
  background: #ffffff;
  color: #002147;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
}

/* Error Toast */
.toast-error {
  background: #ffffff;
  color: #FF5733;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
}

.Toastify__progress-bar {
  /* height: 4px;
  background: #ffffff; */
}